################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Quick/Quick.VC.db
/Quick/Quick.sln
/Quick/Quick/Quick.vcxproj.filters
/Quick/Quick/Quick.vcxproj
/Quick/Quick/Quick.cpp
/Quick/Quick/Debug/vc140.pdb
/Quick/Quick/Debug/vc140.idb
/Quick/Quick/Debug/Quick.tlog/Quick.lastbuildstate
/Quick/Quick/Debug/Quick.tlog/link.write.1.tlog
/Quick/Quick/Debug/Quick.tlog/link.read.1.tlog
/Quick/Quick/Debug/Quick.tlog/link.command.1.tlog
/Quick/Quick/Debug/Quick.tlog/CL.write.1.tlog
/Quick/Quick/Debug/Quick.tlog/CL.read.1.tlog
/Quick/Quick/Debug/Quick.tlog/CL.command.1.tlog
/Quick/Quick/Debug/Quick.obj
/Quick/Quick/Debug/Quick.log
/Quick/Debug/Quick.pdb
/Quick/Debug/Quick.ilk
/Quick/Debug/Quick.exe
/Quick/.vs/Quick/v14/.suo
/prob2_print_LCS/
/prob2_prim/prob2_prim.VC.db
/prob2_prim/prob2_prim.sln
/prob2_prim/prob2_prim/prob2_prim.vcxproj.user
/prob2_prim/prob2_prim/prob2_prim.vcxproj.filters
/prob2_prim/prob2_prim/prob2_prim.vcxproj
/prob2_prim/prob2_prim/prob2_prim.cpp
/prob2_prim/prob2_prim/Heap.h
/prob2_prim/prob2_prim/Heap.cpp
/prob2_prim/prob2_prim/Debug/vc140.pdb
/prob2_prim/prob2_prim/Debug/vc140.idb
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/prob2_prim.lastbuildstate
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/link.write.1.tlog
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/link.read.1.tlog
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/link.command.1.tlog
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/CL.write.1.tlog
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/CL.read.1.tlog
/prob2_prim/prob2_prim/Debug/prob2_prim.tlog/CL.command.1.tlog
/prob2_prim/prob2_prim/Debug/prob2_prim.obj
/prob2_prim/prob2_prim/Debug/prob2_prim.log
/prob2_prim/prob2_prim/Debug/Heap.obj
/prob2_prim/Debug/prob2_prim.pdb
/prob2_prim/Debug/prob2_prim.ilk
/prob2_prim/Debug/prob2_prim.exe
/prob2_prim/.vs/prob2_prim/v14/.suo
/prob1_length_LCS/
/prob1_heapsort/prob1_heapsort.VC.db
/prob1_heapsort/prob1_heapsort.sln
/prob1_heapsort/prob1_heapsort/prob1_heapsort.vcxproj.filters
/prob1_heapsort/prob1_heapsort/prob1_heapsort.vcxproj
/prob1_heapsort/prob1_heapsort/pro1_heapsort.cpp
/prob1_heapsort/prob1_heapsort/heapsort.h
/prob1_heapsort/prob1_heapsort/heapsort.cpp
/prob1_heapsort/prob1_heapsort/Debug/vc140.pdb
/prob1_heapsort/prob1_heapsort/Debug/vc140.idb
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/prob1_heapsort.lastbuildstate
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/link.write.1.tlog
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/link.read.1.tlog
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/link.command.1.tlog
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/CL.write.1.tlog
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/CL.read.1.tlog
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.tlog/CL.command.1.tlog
/prob1_heapsort/prob1_heapsort/Debug/prob1_heapsort.log
/prob1_heapsort/prob1_heapsort/Debug/pro1_heapsort.obj
/prob1_heapsort/prob1_heapsort/Debug/heapsort.obj
/prob1_heapsort/Debug/prob1_heapsort.pdb
/prob1_heapsort/Debug/prob1_heapsort.ilk
/prob1_heapsort/Debug/prob1_heapsort.exe
/prob1_heapsort/.vs/prob1_heapsort/v14/.suo
/prob1/prob1.VC.db
/prob1/prob1.sln
/prob1/prob1/prob1.vcxproj.filters
/prob1/prob1/prob1.vcxproj
/prob1/prob1/prob1.cpp
/prob1/prob1/HeapSort.h
/prob1/prob1/HeapSort.cpp
/prob1/prob1/Debug/vc140.pdb
/prob1/prob1/Debug/vc140.idb
/prob1/prob1/Debug/prob1.tlog/prob1.lastbuildstate
/prob1/prob1/Debug/prob1.tlog/link.write.1.tlog
/prob1/prob1/Debug/prob1.tlog/link.read.1.tlog
/prob1/prob1/Debug/prob1.tlog/link.command.1.tlog
/prob1/prob1/Debug/prob1.tlog/CL.write.1.tlog
/prob1/prob1/Debug/prob1.tlog/CL.read.1.tlog
/prob1/prob1/Debug/prob1.tlog/CL.command.1.tlog
/prob1/prob1/Debug/prob1.obj
/prob1/prob1/Debug/prob1.log
/prob1/prob1/Debug/HeapSort.obj
/prob1/Debug/prob1.pdb
/prob1/Debug/prob1.ilk
/prob1/Debug/prob1.exe
/prob1/.vs/prob1/v14/.suo
/Prim/Prim.VC.db
/Prim/Prim.sln
/Prim/Prim/Prim.vcxproj.filters
/Prim/Prim/Prim.vcxproj
/Prim/Prim/Prim.cpp
/Prim/Prim/Heap.h
/Prim/Prim/Heap.cpp
/Prim/Prim/Debug/vc140.pdb
/Prim/Prim/Debug/vc140.idb
/Prim/Prim/Debug/Prim.tlog/Prim.lastbuildstate
/Prim/Prim/Debug/Prim.tlog/link.write.1.tlog
/Prim/Prim/Debug/Prim.tlog/link.read.1.tlog
/Prim/Prim/Debug/Prim.tlog/link.command.1.tlog
/Prim/Prim/Debug/Prim.tlog/CL.write.1.tlog
/Prim/Prim/Debug/Prim.tlog/CL.read.1.tlog
/Prim/Prim/Debug/Prim.tlog/CL.command.1.tlog
/Prim/Prim/Debug/Prim.obj
/Prim/Prim/Debug/Prim.log
/Prim/Prim/Debug/Heap.obj
/Prim/Prim/Debug/Graph.obj
/Prim/Debug/Prim.pdb
/Prim/Debug/Prim.ilk
/Prim/Debug/Prim.exe
/Prim/.vs/Prim/v14/.suo
/Merge_Sort/Merge_Sort.VC.db
/Merge_Sort/Merge_Sort.sln
/Merge_Sort/Merge_Sort/Merge_Sort.vcxproj.filters
/Merge_Sort/Merge_Sort/Merge_Sort.vcxproj
/Merge_Sort/Merge_Sort/Merge_Sort.cpp
/Merge_Sort/Merge_Sort/Debug/vc140.pdb
/Merge_Sort/Merge_Sort/Debug/vc140.idb
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/Merge_Sort.lastbuildstate
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/link.write.1.tlog
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/link.read.1.tlog
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/link.command.1.tlog
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/CL.write.1.tlog
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/CL.read.1.tlog
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.tlog/CL.command.1.tlog
/Merge_Sort/Merge_Sort/Debug/merge_sort.obj.enc
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.obj
/Merge_Sort/Merge_Sort/Debug/Merge_Sort.log
/Merge_Sort/Debug/Merge_Sort.pdb
/Merge_Sort/Debug/Merge_Sort.ilk
/Merge_Sort/Debug/Merge_Sort.exe
/Merge_Sort/.vs/Merge_Sort/v14/.suo
/Insert_Sort/Insert_Sort.VC.db
/Insert_Sort/Insert_Sort.sln
/Insert_Sort/Insert_Sort/Insert_Sort.vcxproj.filters
/Insert_Sort/Insert_Sort/Insert_Sort.vcxproj
/Insert_Sort/Insert_Sort/Insert_Sort.cpp
/Insert_Sort/Insert_Sort/Debug/vc140.pdb
/Insert_Sort/Insert_Sort/Debug/vc140.idb
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/link.write.1.tlog
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/link.read.1.tlog
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/link.command.1.tlog
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/Insert_Sort.lastbuildstate
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/CL.write.1.tlog
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/CL.read.1.tlog
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.tlog/CL.command.1.tlog
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.obj
/Insert_Sort/Insert_Sort/Debug/Insert_Sort.log
/Insert_Sort/Debug/Insert_Sort.pdb
/Insert_Sort/Debug/Insert_Sort.ilk
/Insert_Sort/Debug/Insert_Sort.exe
/Insert_Sort/.vs/Insert_Sort/v14/.suo
/git/
/beakjoon1/beakjoon1.VC.db
/beakjoon1/beakjoon1.sln
/beakjoon1/beakjoon1/beakjoon1.vcxproj.filters
/beakjoon1/beakjoon1/beakjoon1.vcxproj
/beakjoon1/.vs/beakjoon1/v14/.suo
/beakjoon/Debug/beakjoon.pdb
/beakjoon/Debug/beakjoon.ilk
/beakjoon/Debug/beakjoon.exe
/beakjoon/beakjoon.VC.db
/beakjoon/beakjoon.sln
/beakjoon/beakjoon/Debug/vc140.pdb
/beakjoon/beakjoon/Debug/vc140.idb
/beakjoon/beakjoon/Debug/beakjoon_2748_DP_피보나치.obj
/beakjoon/beakjoon/Debug/beakjoon_2606_vrius.obj
/beakjoon/beakjoon/Debug/beakjoon.tlog/link.write.1.tlog
/beakjoon/beakjoon/Debug/beakjoon.tlog/link.read.1.tlog
/beakjoon/beakjoon/Debug/beakjoon.tlog/link.command.1.tlog
/beakjoon/beakjoon/Debug/beakjoon.tlog/CL.write.1.tlog
/beakjoon/beakjoon/Debug/beakjoon.tlog/CL.read.1.tlog
/beakjoon/beakjoon/Debug/beakjoon.tlog/CL.command.1.tlog
/beakjoon/beakjoon/Debug/beakjoon.tlog/beakjoon.lastbuildstate
/beakjoon/beakjoon/Debug/beakjoon.log
/beakjoon/beakjoon/Debug/4_beakjoon_1003_DP_피보나치2.obj
/beakjoon/beakjoon/beakjoon_2748_DP_피보나치.cpp
/beakjoon/beakjoon/beakjoon.vcxproj.filters
/beakjoon/beakjoon/beakjoon.vcxproj
/beakjoon/beakjoon/4_beakjoon_2748_DP_피보나치.cpp
/beakjoon/beakjoon/4_beakjoon_1003_DP_피보나치2.cpp
/beakjoon/beakjoon/3_beakjoon_2606_vrius.cpp
/beakjoon/beakjoon/3_Beakjoon_1260_DFS_BFS.cpp
/beakjoon/.vs/beakjoon/v14/.suo
/beakjoon/beakjoon.VC.VC.opendb
.DS_Store
